{deps, [
    {lager, "1.2.2", {git, "https://github.com/basho/lager.git",
                      {tag, "1.2.2"}}},
    {ibrowse, "4.0.1", {git, "https://github.com/cmullaparthi/ibrowse.git",
                        {tag, "v4.0.1"}}},
    {cowboy, "0.7.0", {git, "https://github.com/extend/cowboy.git",
                       "855e9652fa40673d8f1ff40fd262963941e28fef"}}
   ]}.
{erl_opts, [debug_info,
            {parse_transform, lager_transform}
           ]}.
{sub_dirs, ["rel"]}.
