[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {lager, [
          {crash_log, "log/crash.log"}
          %% , {error_logger_redirect, false}
         ]},

 {ibrowse, [
            {default_max_sessions, 1000},
            {default_max_pipeline_size, 1000}
           ]}
].

