[
 {qdecp, [
          {cache, [
    %% List of things to be concatenated together to form the cache key for each request
    %% [method
    %%  | url
    %%  | {cookie, CookieName :: string()}
    %%  | {sub_cookie, CookieName, SubCookieName, Divider}]
    %% Divider is the character used to separate sub-cookies, like $: or $&
                   {key_parts, [method, url]},
                   %% For example, adding the Google Locale cookie:
                   %% {key_parts, [method, url, {sub_cookie, "PREF", "L", $:}]},
                   {modules, [qdecp_cache_memlocal]}
                  ]}
         ]},

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {lager, [
          {crash_log, "log/crash.log"}
          %% Uncomment for debugging:
          %% , {error_logger_redirect, false}
          %% , {handlers, [{lager_console_backend, debug}]}
         ]},

 {ibrowse, [
            {default_max_sessions, 1000},
            {default_max_pipeline_size, 1000}
           ]}
].

